<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link th:href="@{css/main.css}" rel="stylesheet"/>
		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-1.4.1.js" type="text/javascript"></script>
		<script th:href="@{js/jquery.min.js}" type="text/javascript"></script>
		<script th:href="@{js/util.js}" type="text/javascript"></script>
		<script th:href="@{js/main.js}" type="text/javascript"></script>
	</head>
	<body>

		<!-- Header -->
		<!-- Header -->
			<header id="header" class="">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry-style<br/>
						portfolio template.</h2>
						<a href="javascript:clickHeaderButton('1');" class="button big alt"><span>Let's Go</span></a>
					</div>
					<a href="javascript:clickHeaderButton('0');" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic01.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic02.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic03.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic04.jpg" alt="" /></a>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic06.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic05.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic08.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic07.jpg" alt="" /></a>
							</div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic09.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic12.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic11.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic10.jpg" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic13.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic14.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic15.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="/toViewDetail1"><img src="images/pic16.jpg" alt="" /></a>
							</div>

					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer" class="">
				<a href="javascript:clickFooterButton();" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>Vestibulum hendrerit tortor id gravida</h3>
						<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
					</div>
				</div>
			</footer>

	</body>
	<script type="text/javascript">
        function clickHeaderButton(flag){
            if(flag == 1){
                $("#header").attr("class", "hide");
            }else{
                $("#header").attr("class", "");
			}
        }

        function clickFooterButton(){
            if($("#footer").attr("class") == ""){
                $("#footer").attr("class", "show");
			}else{
                $("#footer").attr("class", "");
			}
        }
	</script>
</html>
