<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link th:href="@{css/main.css}" rel="stylesheet"/>
		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-1.4.1.js" type="text/javascript"></script>
		<script th:href="@{js/jquery.min.js}" type="text/javascript"></script>
		<script th:href="@{js/skel.min.js}" type="text/javascript"></script>
		<script th:href="@{js/util.js}" type="text/javascript"></script>
		<script th:href="@{js/main.js}" type="text/javascript"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/viewIndex" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="images/pic06.jpg" alt="" />
					</div>
					<div class="content">
						<header>
							<h2>Aliquam gravida felis vel velit accumsan</h2>
						</header>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
						<p>Proin faucibus laoreet quam. Maecenas et ullamcorper lectus. Ut nunc velit, varius auctor semper vitae, fermentum ac ligula. Curabitur at dolor sapien. Sed nec libero at leo feugiat pharetra vitae vel felis. Pellentesque eget erat id mauris volutpat blandit. Suspendisse vulputate massa turpis, eu ultrices massa malesuada at. Sed sit amet faucibus sem. Nulla lectus arcu, tincidunt a dapibus vitae, ultrices et sem. Sed eget sodales odio, in hendrerit dui. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla. Cras at auctor sapien. Praesent blandit, odio vel sodales egestas, nisl nibh aliquam est, quis aliquam enim nibh vitae tellus.</p>
					</div>
				</div>
				<a href="/toViewDetail1" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/toViewDetail2" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>Vestibulum hendrerit tortor id gravida</h3>
						<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
					</div>
				</div>
			</footer>

	</body>
	<script type="text/javascript">
        function clickFooterButton(){
            if($("#footer").attr("class") == ""){
                $("#footer").attr("class", "show");
            }else{
                $("#footer").attr("class", "");
            }
        }
	</script>
</html>